form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

/* Style the list of records */
#registros-list {
    list-style: none;
    padding: 0;
}

#registros-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}